@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Barlow', sans-serif;
}

* {
    @apply transition duration-300 ease-out
}

h1,
h2,
h3,
h4 {
    @apply text-secondary-color font-black font-sans
}

/* ============================================ */
.container {
    @apply px-2 xl:w-8/12 mx-auto
}

.blocks-half-desk {
    @apply md:flex items-center justify-between w-full
}

.block-half-desk {
    @apply pb-8 md:pb-0 md:w-5/12 border-b-1 md:border-b-0
}

/* ============================================ */
/* COLORS */
.bg-primary {
    @apply bg-primary-color
}

h1 {
    @apply text-4xl md:text-5xl
}

h2 {
    @apply text-3xl md:text-4xl
}

h3 {
    @apply text-2xl md:text-3xl
}

h4 {
    @apply text-xl
}

.text-primary {
    @apply text-yellow-500 font-medium
}

.text-secondary {
    @apply text-secondary-color
}

.text-gray {
    @apply text-slate-300
}

/**=========== COMPONENTS ===========**/

/* BUTTONS*/
.btn {
    @apply py-3 px-7 rounded hover:bg-opacity-80 uppercase tracking-wider text-xs font-medium
}

.btn-primary {
    @apply btn bg-secondary-color text-slate-100
}

.btn-secondary {
    @apply btn border border-secondary-color text-secondary-color
}

/*TOOLTIP*/
.tooltip {
    @apply absolute opacity-0 top-2 rounded bg-secondary-color text-slate-100 p-2 group-hover:opacity-100
}

/* MAIN MENU */
.menu-primary {
    @apply py-2 md:py-0 md:flex
}

.menu-primary li a {
    font-family: 'Nunito Sans', sans-serif;
    @apply block w-full text-sm font-bold uppercase text-slate-100 my-5 md:my-0 md:text-secondary-color px-4 py-2 rounded-md md:w-auto md:text-md md:border-b-2 md:border-transparent md:mx-4 md:px-0 md:pb-2
}

.menu-primary li a:hover {
    @apply bg-slate-100 text-secondary-color md:border-secondary-color md:bg-transparent md:rounded-none
}

/**=========== SECTIONS ===========**/
/*ABOUT*/
.about img {
    @apply mx-auto
}

/*PORTFOLIO*/
.container-portfolio-img {
    @apply h-40 col-span-1 flex items-center justify-center py-8 md:h-64 md:px-12 md:py-28
}

/**=========== ETC ===========**/

/*Custom dropdown behavior*/
.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
}